#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
  opacity: 0.95;
}

.plant-map-frame {
  height: 550px;
  width: 100%;
  margin-top: 10px;
  -webkit-box-shadow: 6px 40px 132px 1px rgba(3,13,66,1);
  -moz-box-shadow: 6px 40px 132px 1px rgba(3,13,66,1);
  box-shadow: 6px 40px 132px 1px rgba(3,13,66,1);
}

body {
  /*background: url("/assets/body_global.png") !important;*/
}

ul.ul-menu-right {
  padding-top: 40px;
}

ul#controlToggle > li {
  float: left;
  padding-right: 10px;
}

a.btn-menu-right {
  background-color: #E7E7E7 !important;
}

a.btn-menu-right:hover {
  background-color: #CBE6A3 !important;
  box-shadow: 2px 5px 2px #888888;
}

ul.ul-menu-right > li {
  padding-bottom: 3px;
}

