.plant-frame-div {
	height: 500px;
	width: 300px;
	background: #F6F7F9;
}

.plant-image-frame-div {
	height: 200px;
	width:200px;
	box-shadow: 7px 17px 5px #888888;
	margin-left: 50px;
	padding-top: 10px;
}

.divider {
  height: 3px;
  width:90%;
  display:block; /* for use on default inline elements like span */
  margin: 5px auto;
  overflow: hidden;
  background-color: #CBB370;
  text-align: center;
  box-shadow: 1px 2px 1px #888888;
  border-radius: 3px;
}

.search-form {
	background: #F6F7F9;
}

.infor {
	width: 90%;
	margin: 5px auto;
}

.top-rounded {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bottom-rounded {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.div-rounded {
	border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}